* {

 box-sizing: border-box;
 margin: 0;
padding: 0;



}


body {


display: flex;
justify-content: center;
font-family: 'Golos Text', sans-serif;

background-color: #c4c9f9;

}

.contenido {
   
      
    background-image: url(/HV.github.io/img/layered-peaks-haikei\ \(2\).png);

    background-repeat: no-repeat;
    background-size: 700px  1200px;
    
     width: 50%;
    border: 2px solid black;
     margin: 10px;
     padding: 14px;
    display: flex;
    flex-direction: column;
    
}
.foto {

    border: solid 2px black;
   
    align-self: center;
}


.foto img {
    display: inline-block;
    width: 200px;
    border: solid 2px black;
    height: 200px;

}

* span {

    font-weight: bold;
}








